.u6section {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: 'Muli';
    font-size: 22px;
    color: white;
    font-weight: 300;
}

.u6section a {
    text-decoration: none;
    color: white;
}

.u6section a:hover {
    color: whitesmoke;
    text-decoration: underline;
}

.u6menu {
    justify-content: center;
    display: flex;
    background-color: #cf7b57;
    background-size: cover;
    align-items: center;
    text-align: center;
    padding: 10vh 0vw 15vh 0vw;
}

.u6menu:hover {
    background-color: #ca694b;
    background-size: cover;
}

.u6page {
    justify-content: center;
    background-color: #357e9e;
    background-size: cover;
    padding: 10vh 8vw 10vh 8vw;
    align-items: center;
}

.u6page:hover {
    background-color: #2a6392;
    background-size: cover;
}

.u6header {
    margin: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
}

.u6img {
    border-radius: 100%;
    height: 10vh;
    width: auto;
    margin-right: 1rem;
}

.u6header h1 {
    vertical-align: inline;
}

iframe {
    display: flex;
    width: 100vw;
    height: 10vh;
    margin: 0;
}
