* {
    padding: 0px;
    margin: 0px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.section {
    align-content: center;
    background-color: hsl(30, 38%, 92%);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 20vh 2rem 2rem 2rem;
}

@media (max-width: 1000px) {
    .section {
        padding: 2rem 2rem 2rem 2rem;
    }
}

.u6card {
    background-color: rgb(255, 254, 251);
    border-radius: 3% 3% 3% 3%;
    max-height: 25rem;
    max-width: 37rem;
    color: hsl(228, 12%, 48%);
}

@media (max-width: 1000px) {
    .u6card {
        max-height: fit-content;
    }
}

.u6img {
    background-image: url('images/image-product-desktop.jpg');
    background-size: cover;
    min-height: 25rem;
    border-radius: 3% 0% 0% 3%;
}

@media (max-width: 1000px) {
    .u6img {
        background-image: url('images/image-product-mobile.jpg');
        border-radius: 3% 3% 0% 0%;
        min-height: 18rem;
    }
}

.u6value {
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces", serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
}

.card-text {
    font-size: 0.87rem;
    font-family: "Montserrat", sans-serif;
    margin-top: 0.8rem;
    margin-bottom: 1.5rem;
}

.card-body {
    padding-right: 2rem;
}

.card-title {
    font-family: "Montserrat", sans-serif;
    color: hsl(212, 21%, 14%);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 32px;
}

.u6button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: inherit;
    font-size: .875rem;
    font-weight: 700;
    width: 100%;
    border: none;
    padding: 1em;
    border-radius: 0.375rem;
    cursor: pointer;
}

.u6button:hover {
    background-color: hsl(158, 36%, 27%);
}

iframe {
    display: flex;
    width: 100vw;
    height: 10vh;
    margin: 0;
}